#section-two {
	min-height: 100vh;
	height: auto;
}

#on-board{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: white;
	min-height: 500px;
	height: auto;
}

.content {
	width: 80%;
	margin-top: 30px;
	margin-right: 30px;
}

.charity a {
	text-decoration: none;
	color: #D14039;
}

/*.charity a:hover {
	color: #448f94;
}*/

.column img{
	height: 50px;
	margin: 10px;
}

h3 {
	padding-left: 5px;
}

#grid {
	width: 90%;
}

#grid h3 {
	margin-top: 0px;
	text-align: center;
}

#grid img {
	margin-bottom: 0px;
	text-align: center;
}

form > label {
	width: 160px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#grid .row {
	justify-content: space-around;
}

nav a {
	color: white;
}

input{
	display: none;
}

button{
	background: none;/*#448f94;*/
	/*background-color: rgba(63,143,148, 0.6);*/
  	border: 2pt solid #448f94;
  	border-color: rgba(63,143,148, 0.6);
  	border-radius: 0.2em;
  	cursor: pointer;
    color: #fff;
    background-color: none;
    font-family: inherit;
    font-size: inherit;
    margin: 0.25em;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
}

button:hover {
	background: #448f94;
	background-color: rgba(63,143,148, 0.6);
	color: #fff;
}

#results .header{
	display: flex;
	align-items: center;
	/*background-color: #448f94;
	background-color: rgba(63,143,148, 0.6);*/
	background: none;
	border: 2pt solid #448f94;
	border-radius: 0.25em;
	color: #fff;
}

#results .header:hover{
	background-color: #448f94;
	background-color: rgba(63,143,148, 0.6);
}

#results .description {
	text-align: left;
	padding-left: 1em;
}

#results input[type=radio]{
 	display: inline;
 	margin: 1em;
 	float: left;
}
#results input[type=submit]{
 	display: block;
 	float: right;
 	margin: 1em auto;
 }

#results label{
	margin: 0.5em;
	cursor: pointer;
}
