#on-board{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: white;
	min-height: 550px;
	max-height: 570px;
	flex-grow: 1;
}

content {
	width: 80%;
	margin-top: 30px;
}

a {
	text-decoration: none;
	color: #000;
}

.column img{
	height: 50px;
	margin: 10px;
}

h3 {
	padding-left: 5px;
	color: #fff;
}

nav a {
	color: #fff;
}


content {
	margin-left: 60px;
}

content p {
	font-size: 11pt;
}

foo {
	margin-left: 60px;
}

.goal-type {
	/*cursor: pointer;*/
	border: 2pt solid #448f94;
	border-color: rgba(63,143,148, 0.6);
	background: none;
	border-radius: 0.25em;
	margin-bottom: 0.5em;
	margin-right: 1em;
}
.goal-type:hover {
	cursor: pointer;
	background-color:#448f94;
	background-color: rgba(63,143,148, 0.6);
}
.goal-type:selected {
	/*cursor: pointer;*/
	background-color:#448f94;
	background-color: rgba(63,143,148, 0.6);
}

.goal-option{
	padding-bottom: 0.75em;
	align-items: center;
}

.goal-option *{
	margin-right: 1em;
}

.error{
	margin-bottom: 5em;
}

.selector > input{
	display: none;
}

.selector > foo{
  overflow:hidden;
  display: none;
  transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -webkit-transition: height 0.3s ease-in-out;
}

.selector > input:checked + label + foo{
	display: block;
  /*height: 200px;*/
}

input[type=submit]{
	margin-bottom: 20px;
	margin-right: 20px;
	height: 40px;
	width: 100px;
}

/*input[type=text]{
	background-color: #000;
	color: #fff;
}*/
