#on-board{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: white;
}

#form {
	width: 75%;
	justify-content: center;
}

input[type=submit]{
	float: right;
	margin-right: 4.25em;
}

input[type=password], input[type=text] {
	width: 75%;
}

nav a {
	color: white;
}
